<app-message></app-message>
<div *ngIf="showmsg">
  <p class="bg-warning" style="height: 50px">
    An OTP valid for 20 minutes will be sent to email : {{ email }}.Please
    Confirm
  </p>

  <button
    type="button"
    (click)="onclickok()"
    class="btn btn-success mr-2 btn-sm"
  >
    OK
  </button>
  <button
    type="button"
    (click)="$event.preventDefault(); onclose()"
    class="btn btn-primary mr-2 btn-sm"
  >
    Cancel
  </button>
</div>

<form [formGroup]="form" autocomplete="off">
  <div class="card m-3 p-2 form-group" *ngIf="showconfirm" class=".bg-info">
    <div class="card-body">
      <h3 class="card-title" class="card-header bold">Change your password</h3>
      <label>Enter OTP</label>
      <input
        type="text"
        class="card-text form-control"
        formControlName="fcotp"
        [ngClass]="{ 'is-invalid': submitted && f.fcotp.errors }"
      />

      <div *ngIf="submitted && f.fcotp.errors" class="invalid-feedback">
        <div *ngIf="f.fcotp.errors.required">OTP is required</div>
      </div>
      <div
        *ngIf="submitted && f.fcotp.value !== otp"
        style="color: red; font-size: 12px"
      >
        Invalid OTP
      </div>
      <label>Enter Your Old Password</label>
      <input
        (paste)="onPaste($event)"
        [type]="isOldPasswordVisible ? 'text' : 'password'"
        class="card-text form-control"
        formControlName="fcoldpwd"
        [ngClass]="{ 'is-invalid': submitted && f.fcoldpwd.errors }"
      />

      <mat-icon (click)="toggleOldPasswordVisibility()">{{
        isOldPasswordVisible ? "visibility" : "visibility_off"
      }}</mat-icon>
      <div *ngIf="submitted && f.fcoldpwd.errors" class="invalid-feedback">
        <div *ngIf="f.fcoldpwd.errors.required">Password is required</div>
      </div>
      <div class="input">
        <label>Enter New Password</label>

        <input
          autocomplete="new-password"
          (paste)="onPaste($event)"
          [type]="isPasswordVisible ? 'text' : 'password'"
          class="card-text form-control"
          [ngClass]="{ 'is-invalid': submitted && f.fcnewpwd.errors }"
          formControlName="fcnewpwd"
        />
        <mat-icon (click)="togglePasswordVisibility()">{{
          isPasswordVisible ? "visibility" : "visibility_off"
        }}</mat-icon>
      </div>

      <div *ngIf="submitted && f.fcnewpwd.errors" class="invalid-feedback">
        <div *ngIf="f.fcnewpwd.errors.required">Password is required</div>
        <div *ngIf="f.fcnewpwd.errors.passwordStrength">
          {{ f.fcnewpwd.errors.passwordStrength.message }}
        </div>
      </div>

      <label>Confirm New Password</label>
      <input
        autocomplete="new-password"
        type="password"
        (paste)="onPaste($event)"
        class="card-text form-control"
        formControlName="fccfmnewpwd"
        [ngClass]="{ 'is-invalid': submitted && passwordMismatch }"
      />
      <div
        *ngIf="submitted && passwordSame && f.fcnewpwd.touched"
        style="color: red"
      >
        Old and new password are same.
      </div>
      <div
        *ngIf="submitted && passwordMismatch && f.fcnewpwd.touched"
        style="color: red"
      >
        Passwords do not match.
      </div>

      <button
        type="submit"
        *ngIf="form.valid"
        (click)="$event.preventDefault(); onconfirm()"
        class="btn btn-success btn-sm mr-2"
      >
        Confirm
      </button>
      <button
        type="button"
        (click)="$event.preventDefault(); onclose()"
        class="btn btn-primary mr-2 btn-sm"
      >
        Close
      </button>
    </div>

    <!--
       <button   type="button" class="btn  btn-success  btn-sm " *ngIf="showgrid===true && showsave===true " 
       -->
  </div>
</form>
