<app-spinner [spinnerstatus] = "spinnerstatus"></app-spinner>
<div class="card m-3" #instrList >
    <h3 class="card-header bold"><b>Instructor List</b></h3>
        <div  class="container" *ngIf="showInsGrid">
            <button type="button"  class="btn btn-success mr-2  btn-sm"  (click) ="onAssignCoursetoInst()" >Assign to Instructor</button>
            <ag-grid-angular  
                #agGrid style="width:100%; height: 200px;"
                class="ag-theme-alpine"
                [rowData]="instructorList"
                [columnDefs]="columnDefs"
                (rowSelected)="onRowSelected($event)"
                [defaultColDef]="defaultColDef"
                rowSelection="single"
                (gridReady) ="OnGridReady($event)"
                [scr] >
            </ag-grid-angular>
            <button type="button"  class="btn btn-primary mr-2 btn-sm"  (click) ="onBackClose()" >Back</button>    
        </div>
</div>
<app-message></app-message>