
                        <div class="d-flex p-2 bd-highlight border" >
                   
    
                            <ag-grid-angular
                                suppressHorizontalScroll = "true"
                                style="width: 100%; height: 500px;"
                                [rowData]="myrowData"
                                [columnDefs]="columnDefs"
                                #agGrid
                                (gridReady) ="OngridReady($event)"
                                rowSelection="multiple"
                                class="ag-theme-alpine"
                               
                                [defaultColDef]="defaultColDef"
                         
                            
                            >
                            </ag-grid-angular>
                            <!--
                            <app-spinner *ngIf = 'mask' [spinnerstatus]="mask">{{mask}}</app-spinner>
                            -->
                        </div>