<app-spinner [spinnerstatus]="spinnerstatus"></app-spinner>

<app-timer (messageEvent)="receiveMessage($event)"></app-timer>

<form [formGroup]="forgotPasswordForm" autocomplete="off">
  <div class="card m-3 p-2 form-group" class=".bg-info">
    <div class="card-body">
      <h3 class="card-title" class="card-header bold">Change your password</h3>
      <div *ngIf="!showpwd">
        <label>CMS User Name</label>
        <input
          (paste)="onPaste($event)"
          type="text"
          class="card-text form-control"
          formControlName="user"
          [ngClass]="{ 'is-invalid': submitted && f.user.errors }"
        />

        <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
          <div *ngIf="f.user.errors.required">user is required</div>
        </div>
        <label for="email">Email Address</label>
        <input
          type="email"
          id="email"
          class="card-text form-control"
          formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        <div class="form-group m-t-10 m-b-10">
          <button
            type="button"
            *ngIf="!showotp"
            (click)="onclickok()"
            class="btn btn-success p-2 m-2 btn-sm"
          >
            OK
          </button>
          <button
            type="button"
            (click)="$event.preventDefault(); onclose()"
            class="btn btn-primary mr-2 btn-sm"
          >
            Close
          </button>
        </div>
      </div>
      <div *ngIf="showpwd" class="form-group m-t-10 m-b-10">
        <div formGroupName="pwd">
          <label>Enter New Password</label>

          <input
            autocomplete="new-password"
            (paste)="onPaste($event)"
            [type]="isPasswordVisible ? 'text' : 'password'"
            class="card-text form-control"
            [ngClass]="{
              'is-invalid': submitted && pwdControls.fcnewpwd.errors
            }"
            formControlName="fcnewpwd"
          />
          <mat-icon (click)="togglePasswordVisibility()">{{
            isPasswordVisible ? "visibility" : "visibility_off"
          }}</mat-icon>

          <div *ngIf="pwdControls.fcnewpwd.errors" class="invalid-feedback">
            <div *ngIf="pwdControls.fcnewpwd.errors.required">
              Password is required
            </div>
            <div *ngIf="pwdControls.fcnewpwd.errors.passwordStrength">
              {{ pwdControls.fcnewpwd.errors.passwordStrength.message }}
            </div>
          </div>

          <label>Confirm New Password</label>
          <input
            autocomplete="new-password"
            type="password"
            (paste)="onPaste($event)"
            class="card-text form-control"
            formControlName="fccfmnewpwd"
            [ngClass]="{
              'is-invalid': submitted && pwdGroup.errors
            }"
          />
          <div *ngIf="submitted && pwdGroup.errors">
            <div
              *ngIf="submitted && pwdGroup.errors.passwordsMismatch"
              style="color: red"
            >
              Passwords do not match.
            </div>
            <div
              *ngIf="submitted && pwdGroup.errors.passwordsSame"
              style="color: red"
            >
              Old passwords and new password are same .
            </div>
          </div>
        </div>

        <button
          type="button"
          *ngIf="!showotp"
          (click)="$event.preventDefault(); onclose()"
          class="btn btn-primary mr-2 btn-sm"
        >
          Cancel
        </button>
        <button
          type="submit"
          *ngIf="!showotp"
          (click)="$event.preventDefault(); oncontinue()"
          class="btn btn-success btn-sm mr-2"
        >
          Continue
        </button>

        <div *ngIf="showotp">
          <p class="bg-warning" style="height: 40px">
            An OTP is sent to email : {{ email }}.Please enter OTP.
          </p>

          <label>Enter OTP</label>
          <input
            type="text"
            (paste)="onPaste($event)"
            class="card-text form-control"
            formControlName="fcotp"
          />

          <div
            *ngIf="submitted && f.fcotp.value !== otp"
            style="color: red; font-size: 12px"
          >
            Invalid OTP
          </div>

          <button
            type="submit"
            *ngIf="showconfirm"
            (click)="$event.preventDefault(); onconfirm()"
            class="btn btn-success btn-sm mr-2"
          >
            Confirm
          </button>
          <button
            type="button"
            (click)="$event.preventDefault(); onclose()"
            class="btn btn-primary mr-2 btn-sm"
          >
            Close
          </button>
        </div>
      </div>
    </div>
    <!--
       <button   type="button" class="btn  btn-success  btn-sm " *ngIf="showgrid===true && showsave===true " 
       -->
  </div>
</form>
<app-message></app-message>
