.btn-primary-spacing 
{
margin-right: 10px;
margin-bottom: 5px !important;
}
.close-button {
    position: absolute;
    top: 30%;
    right: 13%;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }