<app-spinner [spinnerstatus] = "spinnerstatus"></app-spinner>
<div class="card m-3" #student>
    <h3 class="card-header bold">Student Personal Detail :Application Number :{{appnumber}} </h3>
    <div class="card-body">
        <form [formGroup]="registerForm" >
            <div class="form-row">
                <div class="form-group col border">
                    <label>Student Name</label>
                    <input type="text" [readonly]="not_edit_firstname" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Name is required</div>
                    </div>
                  
                </div>
                
                <div class="form-group col border">
                    <label>Father Name</label>
                    <input type="text" [readonly]="not_edit_fathername" formControlName="fatherFirstName"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fatherFirstName.errors }" />
                    <div *ngIf="submitted && f.fatherFirstName.errors" class="invalid-feedback">
                        <div *ngIf="f.fatherFirstName.errors.required">Father name is required</div>
                    </div>
                </div>
                <div class="form-group col border">
                    <label>Mother Name</label>
                    <input type="text" [readonly]="not_edit_mothername" formControlName="motherFirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.motherFirstName.errors }" />
                    <div *ngIf="submitted && f.motherFirstName.errors" class="invalid-feedback">
                        <div *ngIf="f.motherFirstName.errors.required">Mother Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-2">
                    <label>Date of Birth</label>
                    <input type="date"  [readonly]="not_edit_dob" formControlName="dateOfBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }" />
                    <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
                        <div *ngIf="f.dateOfBirth.errors.required">Date of Birth is required</div>
                        <div *ngIf="f.dateOfBirth.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                    </div>
                </div>
                <div class="form-group col-1">
                    <label>Gender</label>
                    <input type="text"  [readonly]="not_edit_gender" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" />
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Gender is required</div>
                        <div *ngIf="f.gender.errors.minlength">Gender must be at least 3 characters</div>
                    </div>
                </div>
                <div class="form-group col-1">
                    <label>Category</label>
                    <input type="text" [readonly]="not_edit_category" formControlName="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }" />
                    <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                        <div *ngIf="f.category.errors.required">Gender is required</div>
                        <div *ngIf="f.category.errors.primaryEmailId">Gender  must be a valid </div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Primary Email</label>
                    <input type="text" [readonly]="not_edit_email" formControlName="primaryEmailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.primaryEmailId.errors }" />
                    <div *ngIf="submitted && f.primaryEmailId.errors" class="invalid-feedback">
                        <div *ngIf="f.primaryEmailId.errors.required">Email is required</div>
                        <div *ngIf="f.primaryEmailId.errors.primaryEmailId">Email must be a valid primaryEmailId perAddress</div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Religion</label>
                    <select  formControlName="religion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.religion.errors }">
                        <option value=""></option>
                        <option value="Hindu">Hindu</option>
                        <option value="Sikh">Sikh</option>
                        <option value="Jain">Jain</option>
                        <option value="Muslim">Muslim</option>
                        <option value="Buddhism">Buddhism</option>
                        <option value="Christian">Christian</option>
                        <option value="Vedic">Vedic</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="form-row">
                <div class="form-group col-3">
                    <label>Physically-Handicapped</label>
                    <select formControlName="physicallyHandicapped" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.physicallyHandicapped.errors }">
                        <option value=""></option>
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                      
                    </select>

                    <div *ngIf="submitted && f.physicallyHandicapped.errors" class="invalid-feedback">
                        <div *ngIf="f.physicallyHandicapped.errors.required">Physically Handicapped is required</div>
                        
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Minority</label>
                    <select formControlName="minority" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.minority.errors }">
                        <option value=""></option>
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                      
                    </select>
                  
                    <div *ngIf="submitted && f.minority.errors" class="invalid-feedback">
                        <div *ngIf="f.minority.errors.required">Minority is required</div>
                    </div>
                </div>

                <div class="form-group col-3 ">
                    <label>Phone Number</label>
                    <input type="number" [readonly]="not_edit_phone" formControlName="officePhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.officePhone.errors }" />
                    <div *ngIf="submitted && f.officePhone.errors" class="invalid-feedback">
                        <div *ngIf="f.officePhone.errors.required">Phone Number is required</div>
                    </div>
                </div>
                <div class="form-group col-3 ">
                    <label>Aadhar Number</label>
                    <input type="number" [readonly]="not_edit_adhnum" formControlName="aadhaarNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aadhaarNumber.errors }" />
                    <div *ngIf="submitted && f.aadhaarNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.aadhaarNumber.errors.required">Adhar Number is required</div>
                    </div>
                </div>

            </div>
            </div>
            <div class="form-row">
                <div class="form-group col ">
                    <label>Address</label>
                    <input [readonly]="not_edit_address" type="textarea" formControlName="perAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.perAddress.errors }" />
                    <div *ngIf="submitted && f.perAddress.errors" class="invalid-feedback">
                        <div *ngIf="f.perAddress.errors.required">Address is required</div>
                    </div>
                </div>
                
                       
               
            </div>

            <div class="form-row">
                <div class="form-group col border">
                    <label>Student Name in Hindi</label>
                    <input type="text" [readonly]="not_edit_firstname_hindi" formControlName="studentNameinHindi" id="fname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.studentNameinHindi.errors }" />
                    <a href="https://translate.google.com/"  class="btn btn-info bi bi-info-square" rel="noopener noreferrer" target="_blank">Info</a>
                    <div *ngIf="submitted && f.studentNameinHindi.errors" class="invalid-feedback">
                        <div *ngIf="f.studentNameinHindi.errors.required">Student name in hindi is required</div>
                    </div>
                  
                </div>
                
                <div class="form-group col border">
                    <label>Father Name in Hindi</label>
                    <input type="text" [readonly]="not_edit_fathername_hindi" formControlName="fatherNameinHindi"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fatherNameinHindi.errors }" />
                   
                    <a href="https://translate.google.com/"  class="btn btn-info bi bi-info-square" rel="noopener noreferrer" target="_blank">Info</a>   
                    
                    <div *ngIf="submitted && f.fatherNameinHindi.errors" class="invalid-feedback">
                        <div *ngIf="f.fatherNameinHindi.errors.required">Father name in hindi  is required</div>
                    </div>
                    
                </div>
                <div class="form-group col border">
                    <label>Mother Name in Hindi</label>
                    <input type="text" [readonly]="not_edit_mothername_hindi" formControlName="motherNameinHindi" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.motherNameinHindi.errors }" />
                    <a href="https://translate.google.com/"  class="btn btn-info bi bi-info-square" rel="noopener noreferrer" target="_blank">Info</a>
                    <div *ngIf="submitted && f.motherNameinHindi.errors" class="invalid-feedback">
                        <div *ngIf="f.motherNameinHindi.errors.required">Mother name in hindi is required</div>
                    </div>
                </div>
            </div>

           
            <div class="form-row" >
                <div class="form-group col-3">
                    <label>Last Degree Passed from</label>
                    <select   formControlName="lastdegree" class="form-control" #mySelect  (change)="onOptionsSelected(mySelect.value)"
                    [ngClass]="{ 'is-invalid': submitted && f.lastdegree.errors }">
                        <option value="-1">Please Select</option>
                        <option onselect="" value="DEI">DEI</option>
                        <option value="Others">Others</option>
                      
                    </select>
                  
                    <div *ngIf="submitted && f.lastdegree.errors" class="invalid-feedback">
                        <div *ngIf="f.lastdegree.errors.required">Last degree is required</div>
                    </div>
                   

                </div>

                <div class="form-group col-2 " *ngIf = "option=='DEI'">
                    <label>Enrollment Number</label>
                    <input type="text" (change)="onchange()" formControlName="enrollmentNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.enrollmentNumber.errors }" />
                  
                    <div *ngIf="submitted && f.enrollmentNumber.errors && option=='DEI'" class="invalid-feedback">
                        <div *ngIf="f.enrollmentNumber.errors.required">Enrollment number is required</div>
                        <div *ngIf="f.enrollmentNumber.errors.NaN">Please enter numbers only</div>
                                         
                        <div *ngIf="f.enrollmentNumber.errors.minlength.requiredLength>f.enrollmentNumber.errors.minlength.actualLength">
                            Please enter at least {{f.enrollmentNumber.errors.minlength.requiredLength}} digits enrolment number
                        </div>
                       
                    </div>
                    
                   
                   
                   
                </div>
                
            </div>
<!--
            <div class="form-row" *ngIf="option=='Others'">
                <div class="form-group col ">
                    <app-uploadfile formControlName="file" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.file.errors }" ></app-uploadfile>
                    <div *ngIf="f.file.errors.required">File is required</div>

                </div>
            </div>
            
            <button   class="btn btn-secondary text-center mr-1"    (click)="isEnrolmentValid()" *ngIf = "option=='DEI' && !enrvaild">Confirm</button>
           
            <app-uploadfile  #uploadfile [filepath]="'degree/'" [formsubmitted]="submitted" [filename]="filename" *ngIf="option=='Others'"  (filestatus)="onfileupload($event)"  ></app-uploadfile>
           -->
            <app-uploadfile  #uploadfile [filepath]="filepath" [formsubmitted]="submitted" [filename]="filename" *ngIf="option=='Others'"  (filestatus)="onfileupload($event)"  ></app-uploadfile>
           
        <!--
            <div class="form-row" *ngIf="enrvaild || option=='Others'">
            -->
                <div class="form-row" >
                <div class="text-center form-group col"  *ngIf="option!='-1'">
                    <button *ngIf ="((filests && option=='Others')||option=='DEI') " type="submit" class="btn btn-primary mr-1"  (click) ="isEnrolmentValid()" >Submit</button>
                    <button   class="btn btn-primary mr-1"  (click) ="onCancel()" >Cancel</button>
                     </div>
                    </div>
          
           
        </form>


    </div>
</div>
<!--
{{registerForm.value | json}}
-->
<app-message></app-message>

