
<div class="container">
    <div class="row" style="background-color:blue;"  >
        <div class="col-sm-1 border " >
        <img class="img-fluid "style="height:100px;width:100%" src="../assets/deiLogo.jpg" alt=""   >
         
      </div>
      
      <div class="col-sm-11 border " >
         <img class="img-fluid "  style="height:100px;width:100%"  src="../assets/dei.jpg"   >   
      </div>
       
    </div>
  
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-5 border">
      col1
      </div>
      <div class="col-sm border" >
       col2
      </div>
      <div class="col-sm border">
        <form class="form-signin" #form="ngForm" (ngSubmit)="main(form.value)" >
          <!--    
          <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          -->
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
          <div *ngIf="sts!='ACT'" >
            <div class="alert alert-danger h3 mb-3 font-weight-normal" role="alert">Invalid Login</div>
          </div>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input
          
         
          type="email"
          ngModel 
          id="inputUser" 
          name ="inputUser" 
          #user ="ngModel" 
          class="form-control form-control-sm" 
          placeholder="Email address"
          required 
          autofocus>
          <label 
          for="inputPassword" 
          class="sr-only">Password</label> 
                   
          <input
          #pwd ="ngModel"  
          ngModel 
          name = "inputPassword" 
          type="password" 
          id="inputPassword"  
          class="form-control form-control-sm" 
          placeholder="Password"
          required>
          <div class="checkbox mb-3">
           <label>
           <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button type ="submit"   class="btn btn-lg btn-primary btn-block" >
            Sign in
          </button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
          </form>
      </div>
    </div>
  
</div>

