<app-spinner [spinnerstatus]="spinnerstatus"></app-spinner>

<div class="container"
  style="background-color:rgba(255,68,132,.5);
         width:100%; 
         box-sizing:border-box; 
         position:relative;
         padding-bottom:20px;">

  <button class="closeBtn" mat-button (click)="closePage()" matTooltip="Click To Remove This Component">
    <mat-icon>close</mat-icon>
  </button>

  <b>Course Evaluation Component</b>

  <div class="box" 
    style="min-height:600px; width:100%; background-color:white; margin-top:1.5%; padding:10px 0 20px 0;">

    <b>Entity Program Details</b>

    <button *ngIf="selectedCourse"
      mat-button
      (click)="openDialog()"
      style="color:blue; height:25px; width:200px; margin-left:250px;"
      matTooltip="Click to view and assign different template to the selected course">
      Select Template
    </button>

    <p *ngIf="!selectedCourse" style="color:red;">
      Please select the course to see its template.
    </p>

    <!-- FIRST GRID -->
    <ag-grid-angular #mkGrid
      style="width:100%; height:220px; margin-bottom:20px;"
      class="ag-theme-alpine"
      [defaultColDef]="defaultColDef"
      [rowData]="programCourseRowData"
      [columnDefs]="programCourseColumnDefs"
      rowSelection="single"
      (gridReady)="onGridReady($event)"
      (rowSelected)="onRowSelected($event)">
    </ag-grid-angular>

    <!-- SECOND GRID (Auto height) -->
    <div class="evaluation_details" *ngIf="showDetails" style="width:100%;">

      <b>Evaluation Component details</b>
      <h4><p style="text-align:center;">Course : {{selectedCourse}}</p></h4>

      <ag-grid-angular #agGrid
        style="width:100%;"
        domLayout="autoHeight"
        class="ag-theme-alpine"
        [rowData]="templateRowData"
        [columnDefs]="templateColumnDefs">
      </ag-grid-angular>

      <button (click)="hideList()" matTooltip="Click to remove (will not delete the assigned template)">
        Cancel
      </button>

    </div>

  </div>
</div>
