
<app-undertaking *ngIf="showundertaking" [rollnumber]="rollno" (agreed)="onAgreed($event)"></app-undertaking>


<div class="container" *ngIf="!showundertaking">
    
                <app-custom-combobox   
                (OptSelected)="OnOptionselected($event)"
                #combo 
                *ngIf="combodata.length>0;else gridblock;" 
                [Options] ='combodata' 
                [labeltext]='combolabel' 
                [combowidth] ="combowidth"
                >
                
                </app-custom-combobox>


<div class="container border"  *ngIf="combodata.length>0 && displaybutton ">
      
                <button   type="button" class="btn btn-primary btn-primary-spacing  btn-sm " (click)="onContinue()"  >Continue</button>
                <button   type="button" class="btn btn-primary btn-primary-spacing  btn-sm " (click)="ngOnDestroy()">Cancel</button>

</div>

<ng-template #gridblock >
    <div  *ngIf="myrowData.length>0">

                <button class="btn btn-primary btn-primary-spacing  btn-sm " (click) = "goBack()" >Go Back</button>
        

                <div class="d-flex flex-row align-items-start p-2 bd-highlight border" >
                    <div class="p-2 bd-highlight text-primary"><label >{{entity}}</label></div>
                    <div class="p-2 bd-highlight text-primary"><label >{{pgm}}</label></div>
                    <div class="p-2 bd-highlight text-primary"><label >{{branch}}</label></div>
                    <div class="p-2 bd-highlight text-primary"><label >{{spec}}</label></div>
                    <div class="p-2 bd-highlight text-primary"><label >{{sem}}</label></div>
                    <div class="p-2 bd-highlight text-primary"><label >{{maxcredit}}</label></div>
                    <div class="p-2 bd-highlight text-primary"><label >{{mincredit}}</label></div>
                    <div class="p-2 bd-highlight text-primary"><label >{{attempt}}</label></div>
                    <div class="p-2 bd-highlight text-primary"><label >{{crselected}}</label></div>
                
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm " (click)="submit()">Submit</button>
                    
                    <button type="button" class="btn btn-primary btn-sm" (click)="ngOnDestroy()">Cancel</button>
                  </div>
                  <!--
                <button class="btn btn-primary btn-primary-spacing  btn-sm " (click)="submit()">Submit</button>
                <button class="btn btn-primary btn-primary-spacing  btn-sm " (click)="OnSelectAll()">Select All</button>
                <button class="btn btn-primary btn-primary-spacing  btn-sm " >Cancel</button>
                --> 
               
               
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="Check1"  [(ngModel)]="check"  
                    (change)="Onchange()" >
                    <label class="form-check-label" for="Check1">Select All</label>
                  </div>
                 
                 
                <div class="d-flex p-2 bd-highlight border" >
                   
    
                        <ag-grid-angular
                            suppressHorizontalScroll = "true"
                            style="width: 100%; height: 500px;"
                            [rowData]="myrowData"
                            [columnDefs]="columnDefs"
                            #agGrid
                            (gridReady) ="OngridReady($event)"
                            rowSelection="multiple"
                            class="ag-theme-alpine"
                           
                            [defaultColDef]="defaultColDef"
                        [scr]
                        
                        >
                        </ag-grid-angular>
                        <app-spinner *ngIf = 'mask' [spinnerstatus]="mask">{{mask}}</app-spinner>
                    </div>
        
                </div>
</ng-template>

</div>



