.btn-primary-spacing 
{
margin-right: 10px;
margin-bottom: 5px !important;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  .ag-header-group-cell {
    font-size: 50px;
    color: red;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: green;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}
.custom-button:hover {
  background-color: #0056b3;
}
  