
<div>
  <button   type="button" class="btn btn-success mr-2  btn-sm " 
  (click)="addStudent()"  >Add</button>

  <button   type="button" class="btn btn-success mr-2  btn-sm " 
  (click)="updateStudent()"  >Update</button>
  <button   type="button" class="btn btn-success mr-2  btn-sm " 
  (click)="deleteStudent()"  >Delete</button>

  <button   type="button" class="btn btn-success mr-2  btn-sm " 
  (click)="ngOnDestroy()"  >Cancel</button>
  
 
</div>
<!--
<schoolstudentdetail *ngIf="displaystudent"
[studentdata] = "_studentdata"
[selectedschool]="myparent1.selectedschool"
[selectedclass]="myparent1.selectedclass"
[selectedbranch]="myparent1.selectedbranch"
  
(changedata)="Onchangedata($event)" 
></schoolstudentdetail>
-->

<ag-grid-angular *ngIf="displaygrid"

    #agGrid
    style="height:700px; width:100%" 
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [getRowStyle]="getRowStyle"
    [rowData]="rowData"
    rowSelection="single"
    [gridOptions] = "gridOptions"
    (selectionChanged)="onActSelectionChanged($event)" 
    suppressHorizontalScroll = "true"
    (gridReady) ="OngridReady($event)"
    
    class="ag-theme-alpine"
       
  ></ag-grid-angular>`
  <app-spinner *ngIf = 'mask' [spinnerstatus]="mask">{{mask}}</app-spinner>