
<div>

  <button  *ngIf="!displaygrid" type="button" class="btn btn-success mr-2  btn-sm " 
  (click)="displayStudent()">Display</button>

  <button   type="button" class="btn btn-success mr-2  btn-sm " 
  (click)="addStudent()"  >Add</button>

  

  <button  *ngIf="displaygrid"  type="button" class="btn btn-success mr-2  btn-sm " 
  (click)="updateStudent()"  >Update</button>
  <button  *ngIf="displaygrid" type="button" class="btn btn-success mr-2  btn-sm " 
  (click)="deleteStudent()"  >Delete</button>

  <button   type="button" class="btn btn-success mr-2  btn-sm " 
  (click)="ngOnDestroy()"  >Cancel</button>
  
 
</div>


<ag-grid-angular *ngIf="displaygrid"

    #agGrid
    style="height:700px; width:100%" 
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [getRowStyle]="getRowStyle"
    [rowData]="rowData"
    rowSelection="single"
    [gridOptions] = "gridOptions"
    (selectionChanged)="onActSelectionChanged($event)" 
    suppressHorizontalScroll = "true"
    [isRowSelectable]="isRowSelectable"
    (gridReady) ="OngridReady($event)"
    suppressRowClickSelection="suppressRowClickSelection"
    
    class="ag-theme-alpine"
       
  ></ag-grid-angular>`
  <app-spinner *ngIf = 'mask' [spinnerstatus]="mask">{{mask}}</app-spinner>